<?xml version="1.0" encoding="UTF-8"?>
<!-- Preferences of the GT-6 Fx FloorBoard application. -->
<Preferences>
	<General>
		<Application version="20100901"/>
		<Donate url="http://gtx.tinfoilmusic.net/donate.html"/>
		<Files dir=""/>
		<Help url="GT-6EditorManual_E.htm"/>
		<Language code="en"/>
		<Upload url="http://www.bossgtcentral.com/dm"/>
		<Webpage url="http://gtx.tinfoilmusic.net/"/>
	</General>
		<Language>
    <Locale select="0"/>
  </Language>
	<Midi>
	  <BulkFinish patch="140"/>
	  <BulkStart patch="139"/>
	  <DBug bool="false"/>
	  <Delay set="0"/>
		<MidiIn device=""/>
		<MidiOut device=""/>		
		<System byte1="3" byte2="0" byte3="0" byte4="0"/>		
	</Midi>
	<Window>
    <Collapsed bool="true" defaultwidth="975" width="975"/>
    <Position x="" y=""/>
    <Restore sidepanel="true" window="false"/>
    <Size height="" minheight="548" minwidth="788" width=""/>
    <Splash bool="true"/>
  </Window>
</Preferences>
