<?xml version="1.0" encoding="UTF-8"?>
<!-- Preferences of the GT-10B Fx FloorBoard application. -->
<Preferences>
	<General>
		<Application version="20091027"/>
		<Donate url="http://gtx.tinfoilmusic.net/donate.html"/>
		<Files dir=""/>
		<Help url="GT-10BFxFloorBoard_help.html"/>
		<Language code="en"/>
		<Upload url="http://www.bossgtcentral.com/dm"/>
		<Webpage url="http://gtx.tinfoilmusic.net/"/>
	</General>
	<Language>
    <Locale select="0"/>
  </Language>
	<Midi>
		<MidiIn device=""/>
		<MidiOut device=""/>
		<DBug bool="false"/>
		<Time set="80"/>
		<Delay set="20"/>
	</Midi>
	<Window>
    <Collapsed bool="true" defaultwidth="1210" width="1210"/>
    <Position x="" y=""/>
    <Restore window="false" sidepanel="true"/>
    <Size height="" minheight="548" minwidth="1014" width=""/>
    <Splash bool="true"/>
  </Window>
</Preferences>
